/* PAGE CONTAINER */
/* Mobile */
.container {
    min-height: 100vh;
    width: 90vw;
    margin: 0 auto;
    padding-top: 60px; /* Increase the top margin to move the content down to avoid navigation blocking 增加上内边距，即向下移动内容，避免导航遮挡 */
    background-color: var(--background-color);
}

/* PAGE CONTAINER */
/* Desktop */
@media screen and (min-width: 768px) {
    .container {
        width: 70vw;
    }
}
